<!doctype html>
<html lang="en" class="dark">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>

  <body class="bg-bg-page text-text font-sans">
    <!-- Body -->
    <%- body %>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <!-- Scripts -->
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
