<section class="bg-bg-panel border-border rounded-lg border p-4 shadow-sm">
  <p class="text-text mx-auto max-w-screen-xl px-4 py-8 text-center lg:px-6 lg:py-8"><%= tr("NO_SETTINGS") %></p>
</section>
